@import "tailwindcss";

@layer utilities {
  .perspective {
    perspective: 1000px;
  }
  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}

@layer components {
  .input {
    @apply w-full px-4 py-3 rounded-xl bg-neutral-900
           border border-neutral-700
           text-white placeholder-gray-500
           focus:outline-none focus:ring-2 focus:ring-gray-600
           focus:border-gray-600
           transition;
  }
}
